<section>
  <h1>{{ site.i18n.amazon_text }}</h1>
  <br>
  <SCRIPT charset="utf-8" type="text/javascript" src="http://ws-eu.amazon-adsystem.com/widgets/q?rt=tf_mfw&ServiceVersion=20070822&MarketPlace=FR&ID=V20070822%2FFR%2Fsojava-21%2F8001%2Fad3e17f7-6dd7-42c1-9d00-e751890632b2"> </SCRIPT> <NOSCRIPT><A HREF="http://ws-eu.amazon-adsystem.com/widgets/q?rt=tf_mfw&ServiceVersion=20070822&MarketPlace=FR&ID=V20070822%2FFR%2Fsojava-21%2F8001%2Fad3e17f7-6dd7-42c1-9d00-e751890632b2&Operation=NoScript">{{ site.i18n.amazon_text }}</A></NOSCRIPT>
</section>
