<section class="socials">
  <h1>{{ site.i18n.find_me }}</h1>
  <br>
  <a href="//twitter.com/{{site.twitter_user}}" target="_blank">
    <img src="{{root_url}}/assets/Twitter_logo_blue_big.png" width="39" height="32" title="{{ site.i18n.twitter_follow }} @{{ site.twitter_user }}" alt="@{{ site.twitter_user }}" />
  </a>
  <a href="//plus.google.com/{{ site.googleplus_user }}?rel=author" target="_blank">
    <img src="{{root_url}}/assets/gprofile_button-32.png" width="32" height="32" title="{{ site.i18n.google_plus_text }} {{ site.author }}" alt="{{ site.i18n.google_plus_text }}" />
  </a>
  <a href="//github.com/{{site.github_user}}" target="_blank">
    <img src="{{root_url}}/assets/GitHub-Mark-32px.png" width="32" height="32" title="@{{site.github_user}} {{site.i18n.on}} GitHub" alt="@{{site.github_user}} {{site.i18n.on}} GitHub" />
  </a>
  <a href="//www.cyril-moreau.fr" target="_blank">
    <img src="{{root_url}}/assets/doyoubuzz32.gif" width="32" height="32" title="{{ site.i18n.resume_text }} {{ site.author }}" alt="{{ site.i18n.resume_text }}" />
  </a>
  <br>
</section>
