<section class="socials">
  <h1>{{ site.i18n.find_me }}</h1>
  <br>
  <a href="https://plus.google.com/{{ site.googleplus_user }}?rel=author" target="_blank">
    <img src="http://www.google.com/images/icons/ui/gprofile_button-32.png" width="32" height="32" title="{{ site.i18n.google_plus_text }} {{ site.author }}" alt="{{ site.i18n.google_plus_text }}" />
  </a>
  <a href="https://github.com/{{site.github_user}}" target="_blank">
    <img src="{{root_url}}/assets/GitHub-Mark-32px.png" width="32" height="32" title="@{{site.github_user}} {{site.i18n.on}} GitHub" alt="@{{site.github_user}} {{site.i18n.on}} GitHub" />
  </a>
  <a href="http://www.cyril-moreau.fr" target="_blank">
    <img src="http://www.doyoubuzz.com/images/css/base/configbar/badges/badge_04_fr.gif" width="32" height="32" title="{{ site.i18n.resume_text }} {{ site.author }}" alt="{{ site.i18n.resume_text }}" />
  </a>
  <br>
</section>
