<p>
  <span class="credit"><a rel="license" href="http://creativecommons.org/licenses/by/3.0/" target="_blank" title="{{ site.i18n.license_text }} Creative Commons Attribution 3.0 Unported License"><img alt="Creative Commons License" title="{{ site.i18n.license_text }} Creative Commons Attribution 3.0 Unported License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a></span> {{ site.author }} - {{ site.time | date: "%Y" }} -
  <span class="credit">{{ site.i18n.foot_powered_by }} <a href="http://octopress.org" target="_blank">Octopress</a></span>
  - <span class="credit"><a href="https://github.com/gehaxelt/CSS-WhiteLake" target="_blank">White Lake Theme</a></span>
</p>
